src/test/resources/XFormsTestSuite1.1E1/Edition1/Chapt04/4.2/4.2.1/4.2.1.schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com">
  <xs:element name="car">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="make" type="xs:string"/>
        <xs:element name="color" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
